body{
    font-family: Arial;
    background-color: #e6e6e6;
}

.container{
    width: 1000px;
    margin: 80px auto;
    padding: 30px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

/* Row layout */
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group{
    width: 20%;
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2px;
}

.checkbox-group label {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.my-textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
}

.buttons{
    text-align: center;
    margin-top: 20px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

.register-btn{
    background-color: #007bff;
}

.clear-btn{
    background-color: #dc3545;
}

